[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git

[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git

[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git

[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
